:root{
    --primary-color: #c8bee7;
    --btn-color: #d3caf170;
    --active-color: #856fce;
    --bg-gradient: linear-gradient(to left bottom, #44b7e9, #67baed, #82bef0, #98c1f1, #abc5f2, #abc5f2, #abc5f2, #abc5f2, #98c1f1, #82bef0, #67baed, #44b7e9);
    --inputBorder: 2px solid #9d8bdbab;
    --inputShadow: 0px 0px 2px #B9ACE2;
    --formColor: #f6fafdda;
    --navColor: #7e50e9be;
    --nav-itemColor: #7245db79;
    --nav-tabs-bg: #a390df;
}

body {
    background: var(--bg-gradient);
    min-height: 75rem;
}

nav {
    background-color: var(--navColor);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-item a i {
    color: #ecf6fc;
} 

.navbar-light .nav-item .nav-link {
    color: #eceff1;
}

.navbar .nav-item a:hover i, .navbar .nav-item a:focus i, 
.navbar .nav-item a:active i, 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:active {
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background-color: var(--nav-itemColor);
}

.nav-item {
    padding-right: 5px;
}

.navbar-toggler {
    border: 1px solid transparent;
}

.navbar-toggler:hover i, .navbar-toggler:active i {
    color: var(--active-color);
}

.nav-link a {
    color: #3196dac4;
} 

input[type="text"]:focus, input[type="password"]:focus, 
input[type="date"]:focus {
    font-weight: 600;
    color: #4922a5c9;
    border: var(--inputBorder);
    box-shadow: var(--inputShadow);
    outline: 0 none;
}

input[readonly], textarea[readonly] {
    background-color: #fff !important;
}

.bg-form {
    border-radius: 10px;
    background-color: var(--formColor);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 50%;
}

.separator {
    margin: 2rem 0;
    border-bottom: 1px solid #dbd9d9d3;
}

.nav-pills .nav-item .nav-link i, .nav-pills .nav-item .nav-link:hover i {
    color: var(--active-color);
}

.nav-pills .nav-item .nav-link.active i {
    color: whitesmoke;
}

.nav-pills .nav-item .nav-link {
    color: var(--active-color);
    font-weight: 500;
}

.nav-pills .nav-link.active {
    color: whitesmoke;
    background-color: var(--nav-tabs-bg) !important;
}

.btn-custom, .btn-edit, .btn-delete {
    background-color: var(--btn-color);
    color: var(--active-color);
    font-weight: 600;
}

.btn-custom:active, .btn-custom:hover, .btn-custom:focus {
    background-color: var(--active-color);
    color: ghostwhite;
}

.data_select select {
    background: rgb(248, 246, 243);
}

.info {
    color: #4922a5c9;
    font-weight: 500;
}

.btn-edit i {
    color: #856fce;
}

.btn-edit:hover, .btn-edit:hover i, .btn-edit:active, .btn-edit:active i {
    color: #fff;
    background-color: var(--active-color);
}

.btn-change i {
    color: #e6cf4d;
}

.btn-change:hover, .btn-change:hover i, .btn-change:active, .btn-change:active i {
    color: #fff;
    background-color: #f3d138;
}

.btn-delete:hover, .btn-delete:hover i, .btn-delete:active, .btn-delete:active i {
    color: #fff;
    background-color: #eb3939;
}

.btn-logout, .btn-logout i{
    color: #ecf6fc;
 }

.btn-logout:hover, .btn-logout:active, 
.btn-logout:focus, .btn-logout:hover i, 
.btn-logout:active i, .btn-logout:focus i {
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    background-color: var(--nav-itemColor);
}

.table thead {
    background-color: #aa9dd6;
    color: whitesmoke;
}

.table tbody {
    background-color: #f4f5f7a9;
    color: rgb(54, 54, 54);
}

.table-wrapper-scroll-y {
    display: block;
}

.table-scrollbar {
    position: relative;
    height: 566px;
    overflow: auto;
}

.table tbody tr:hover {
    cursor: pointer;
    background-color: #d5cbf8a2;
    color: rgb(128, 70, 194);
    font-weight: 500;
} 

.label-custom {
    font-size: .75rem;
    font-weight: 600;
    padding-top: .25rem;
    text-transform: uppercase;
    color:#575656b2;
}

tr {
    transform: scale(1);
    position: relative;
}

/* input[type=checkbox] {
    transform: scale(1.2);
} */

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: transparent;
}
  
.custom-control-input:checked~.custom-control-label.red::before {
    background-color: var(--active-color);
}
  
.custom-control-input:checked~.custom-control-label.custom-color::before {
    background-color: var(--active-color);
}

input[type=radio] {
    transform: scale(1.2);
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .modal-dialog-fullscreen{
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-content-fullscreen{
        height: auto !important;
        min-height: 100% !important;
    }

}